<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>document</title>
</head>
<body>
    <center>
        <h1>MS Dhoni</h1>
        <img src="{{url_for ('static', filename = 'images/dhoni.png')}}" alt="no img" height="400px" width="400px">
        <br>
        <button> <a href="{{url_for('send_html')}}">See Ayushman Khurana</a></button>
    </center>
</body>
</html>