<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>file</title>
</head>
<body>
    <center>
        <h1>Ayushman Khurana</h1>
        <img src="{{url_for ('static', filename = 'images/ayushmann.png')}}" alt="no img" height="400px" width="400px">
<br>
<button> <a href="{{url_for('second_html')}}">See MS.dhoni</a></button>
        
    </center>
</body>
</html>